@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_LayoutCadastro.cshtml";
}

@using SupplierRanking.Models

<div class="wrap-cadastro-fornecedor pl-2 pr-2">

    <div class="row col-12 form-title justify-content-center text-center mt-4 mb-4">
        <h2>Crie sua Conta</h2>
    </div>

    <div class="row text-center mt-5" style="padding-top: 1em;">

        <div class="col-7 align-items-center wrap-options">
            Selecione o seu tipo de usuário:

            <div class="row align-items-center justify-content-center mt-4">
                <!--- Comprador --->
                <div class="col-5 js-tilt" data-tilt>
                    <button id="btnComprador" class="col-9 switch-wrapper p-3">
                        <img src="/Content/images/comprador.png" />
                        <h6 class="switch-person-title p-2">Comprador</h6>
                    </button>
                </div>

                <!--- Switch --->
                <label class="switch m-3">
                    <input id="switchFornecedor" type="checkbox" checked>
                    <span class="slider slider-fornecedor round"></span>
                </label>

                <!--- Fornecedor --->
                <div class="col-5 js-tilt" data-tilt>
                    <a class="d-flex justify-content-center" href="/Fornecedor/CadastroFornecedor">
                        <div id="btnFornecedor" class="col-9 switch-wrapper active-switch p-3">
                            <img src="/Content/images/fornecedor.png" />
                            <h6 class="switch-person-title p-2">Fornecedor</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <form class="col-12 cadastro-form d-flex justify-content-end mt-4 pt-4 pr-2 pl-0"
              method="post" action="/Fornecedor/CadastroFornecedor" enctype="multipart/form-data">

            <!------------------ PRIMEIRA TELA ------------------>
            <!--- Imagem Perfil --->
            <div class="col-7 align-items-center wrap-options">
                Escolha uma imagem de perfil:

                <div class="row align-items-center justify-content-center mt-4">
                    <label for="btnImagemPerfil" class="input-image">
                        <img id="imagemPerfilCarregada" class="input-image input-image-default" src="/Content/images/add-imagem.png" name="imagem" />
                    </label>
                    <input id="btnImagemPerfil" type="file" accept="image/*" name="imagem" style="display: none">
                </div>
            </div>

            <!--- Todos os campos --->
            <div class="col-5 form-forn-first-part form-parts justify-content-center">

                <!--- CNPJ --->
                <div class="col-11 wrap-input p-0">
                    <input class="input required-field" type="text" maxlength="19" name="cnpj" placeholder="* CNPJ" data-mask="00.000.000/0000-00" data-mask-sectionFocus="true" />
                </div>

                <!--- Nome da Empresa --->
                <div class="col-11 wrap-input p-0">
                    <input class="input required-field" type="text" name="nome_empresa" placeholder="* Nome da Empresa">
                </div>

                <!--- Email --->
                <div class="col-11 wrap-input p-0">
                    <input class="input required-field" type="email" name="email" placeholder="* Email">
                </div>

                <!--- Senha & Confirmar Senha --->
                <div class="col-11 row p-0 align-items-center justify-content-between">
                    <div class="col-10 p-0">
                        <!--- Senha --->
                        <div class="wrap-input">
                            <input class="input input-senha required-field" type="password" name="senha" placeholder="* Senha">
                        </div>

                        <!--- Confirmar Senha --->
                        <div class="wrap-input">
                            <input class="input input-senha required-field" type="password" name="confirmarSenha" placeholder="* Confirmar Senha">
                        </div>
                    </div>

                    <!--- Visualizar Senha --->
                    <div class="d-flex align-items-center">
                        <button id="btnSenha">
                            <img src="~/Content/images/olhoFechado.png" />
                        </button>
                    </div>
                </div>

                <!--- Slogan --->
                <div class="col-11 wrap-input p-0">
                    <textarea class="input input-slogan" type="text" name="slogan" placeholder="Possui um slogan? Então escreva ele aqui!"></textarea>
                </div>
            </div>


            <!------------------ SEGUNDA TELA ------------------>
            <div class="row col-12 form-forn-second-part form-parts justify-content-between pl-5 pr-5 mt-5 hide">
                <div class="row ml-4 mb-4">
                    Informe o endereço de sua localização:
                </div>

                <div class="row">
                    <!--- CEP --->
                    <div class="col-5 wrap-input p-0">
                        <input class="input required-field" type="text" name="cep" placeholder="* CEP" data-mask="00000-000" data-mask-sectionFocus="true">
                    </div>

                    <!--- Endereço --->
                    <div class="col-12 wrap-input p-0">
                        <input class="input required-field" type="text" name="endereco" placeholder="* Endereço">
                    </div>

                    <div class="row col-12 d-flex justify-content-between p-0">
                        <!--- Bairro --->
                        <div class="col-5 wrap-input p-0">
                            <input class="input required-field" type="text" name="bairro" placeholder="* Bairro">
                        </div>

                        <!--- Cidade --->
                        <div class="col-5 wrap-input p-0">
                            <input class="input required-field" type="text" name="cidade" placeholder="* Cidade">
                        </div>

                        <!--- UF --->
                        <div class="align-items-center justify-content-between p-0">
                            <select name="uf" class="states text-center required-field" style="width:auto">
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 pt-3">
                    <div class="row col-12 ml-4 mb-4">
                        Preencha pelo menos um campo de contato:
                    </div>

                    <!--- Telefone --->
                    <div class="col-6 wrap-input pl-0">
                        <input class="input required-field" type="text" name="telefone" maxlength="10" placeholder="* (00) 0000-0000" data-mask="(00) 0000-0000" data-mask-sectionFocus="true">
                    </div>

                    <!--- Celular --->
                    <div class="col-6 wrap-input pr-0">
                        <input class="input required-field" type="text" name="celular" placeholder="* (00) 00000-0000" data-mask="(00) 00000-0000" data-mask-sectionFocus="true">
                    </div>
                </div>
            </div>

            <!------------------ TERCEIRA TELA ------------------>
            <div class="col-12 form-forn-third-part form-parts justify-content-between text-center pl-5 pr-5 hide">
                Seleciona abaixo todas as categorias de fornecimento que tenha interesse: <br />
                E não se preocupe se esquecer de alguma, pois será possível editar depois.

                <div class="mt-5" style="height:460px; overflow-y:scroll; ">
                    @foreach (Categorias c in ViewBag.ListaCategorias)
                    {
                        <div class="col-12 checkbox-container text-left mt-4 p-0">
                            <label for="@(c.Categoria)">
                                <input type="radio" id="@(c.Categoria)" name="nome_categoria" class="required-field" value="@(c.Categoria)" />
                                <span class="checkbox"></span>
                                @(c.Categoria)
                            </label>
                        </div>
                    }
                </div>
            </div>

            <!------------------ QUARTA TELA ------------------>
            <div class="col-12 form-forn-forth-part form-parts justify-content-between text-center pl-5 pr-5 hide">

                <!--- Descrição --->
                <div class="wrap-input pl-0">
                    <textarea class="input" type="text" name="descricao" placeholder="Faça uma breve descrição do seu negócio e empresa..."></textarea>
                </div>


                <!--- Imagens do Produto --->
                <div class="row mt-4 pt-2">

                    <div class="col-3 p-2">
                        Selecione todas as imagens de seu(s) produto(s) que deseje em seu perfil:

                        <div class="row align-items-center justify-content-center mt-4">
                            <label for="btnImagens" class="input-images">
                                <img class="input-images" src="/Content/images/add-imagem-pequeno.png" />
                            </label>
                            <input id="btnImagens" type="file" accept="image/*" name="galeriaFotos" style="display: none" multiple />
                        </div>
                    </div>
                    <div class="col-9">
                        <div id="imagensCarregada">

                        </div>
                    </div>
                </div>

                <div class="row mt-4 pt-2">
                    <!--- PDF --->
                    <div class="col-3 pl-2 pr-2" style="height: 200px;">
                        Inclua abaixo um PDF com as informações de seu(s) produto(s):

                        <div id="wrapper-add-pdf" class="row align-items-center justify-content-center mt-4">
                            <label for="btnPdf" class="input-images">
                                <img class="input-images" src="/Content/images/add-pdf.png" />
                            </label>
                            <input id="btnPdf" type="file" accept="application/pdf" name="pdf" style="display: none" />
                        </div>

                        <div id="wrapper-remove-pdf" class="row align-items-center justify-content-center mt-4 hide">
                            <button id="btnPdf">
                                <img class="input-images input-remove-pdf" src="/Content/images/remove-pdf.png" />
                            </button>
                        </div>

                        <div id="nomePdf" class="row align-items-center justify-content-center mt-3">

                        </div>
                    </div>

                    <!--- Plano --->
                    <div class="row col-9 d-flex align-items-center">
                        <div class="col-12 d-flex justify-content-center">
                            Selecione o plano escolhido:
                        </div>

                        <div class="col-12 d-flex justify-content-center align-items-center mt-4">
                            <!--- Free --->
                            <div class="col-4 d-flex justify-content-center">
                                <button id="btnPlanoFree" class="col-9 switch-wrapper p-3">
                                    <img style="width: 4em;" src="/Content/images/plano-free.png" />
                                    <h6 class="switch-person-title p-2">Free</h6>
                                </button>
                            </div>

                            <!--- Switch --->
                            <label class="switch m-3">
                                <input id="switchPlanos" type="checkbox">
                                <span class="slider slider-planos round unchecked"></span>
                            </label>

                            <!--- Premium --->
                            <div class="col-4 d-flex justify-content-center">
                                <button id="btnPlanoPremium" class="col-9 switch-wrapper p-3">
                                    <img style="width: 4em;" src="/Content/images/plano-premium.png" />
                                    <h6 class="switch-person-title p-2">Premium</h6>
                                </button>
                            </div>

                            <input class="input-plano required-field" name="plano" value="" style="display: none;" />
                        </div>
                    </div>
                </div>
            </div>
</form>
    </div> 

    <div class="row col-12 cadastro-options align-items-center pl-5 pr-5">

        <span class="@ViewBag.cssClass">
            @ViewBag.Message
        </span>

        <div class="col-12 d-flex p-0">
            <!--- Voltar para Login --->
            <div class="col-6 form-forn-btn d-flex align-self-center text-left">
                <a id="btnLogin" class="sub-link" href="/Login/Login">
                    Login
                </a>
            </div>

            <!--- Voltar --->
            <div class="col-6 form-forn-btn d-flex align-self-center text-left hide">
                <button id="btnVoltar" class="sub-link">
                    Voltar
                </button>
            </div>

            <!--- Botao Proximo --->
            <div class="col-6 form-forn-btn d-flex align-self-center justify-content-end pr-0">
                <button id="btnProximo" class="login-form-btn disabled" disabled>
                    Próximo
                </button>
            </div>

            <!--- Botao Cadastrar --->
            <div class="col-6 form-forn-btn d-flex align-self-center justify-content-end pr-0 hide">
                <button type="submit" id="btnCadastrar" class="login-form-btn disabled" disabled>
                    Cadastrar
                </button>
            </div>
        </div>
        </div>
    </div>
