@model SupplierRanking.Models.Fornecedor
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Layout_logada.cshtml";
}


<div class="wrapper">
    <!-- Sidebar  -->
   
    <!-- Page Content  -->
    <div id="content" style="background: #eefbfa00;">
        
        <section style=" width: 2000px;height: 104px;background: #0C496BE6;position: absolute;top: 0px;left:0px;">


            
                <div class="container-fluid">
                    <!-- <button type="button" id="sidebarCollapse" onmouse="menu()"class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>

                </button>-->
                    


                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                   

                    <!--<img style="width: 27px;height: 27px;margin-right: 100px; "src="imagens/pesquisa.png"/>-->
                  



                </div>
           

        </section>
        
        <div id="divFiltro" style="width:600px;height:450px;background-color:white;border: 30px;border-color: black;visibility:hidden;position: absolute;
            left: 31%;"></div>
       
        
            <div style="width:1500px;height: 680px;background-color: white;
            top: 13%;position: absolute;left: 195px; box-shadow: 1px 0px 20px black;">
                <section>
                    
                    <div style="width:210px;height:210px;position: absolute;left: 10%;top:26px;">
                      
                            
                            @if (Model.Imagem64 == null)
                            {
                                <img src="~/Content/images/iconecor.png" height="210" width="210" />
                            }
                            else
                            {
                                String imagem64 = string.Format("data:image/jpeg;base64,{0}", @Model.Imagem64); //PRECISA DISSO PRA FUNCIONAR A IMAGEM
                                <img src="@imagem64" height="210" width="210" />
                            }
                            
                            
                            
                            
                    </div>
                   
                    <h1 style="position: absolute;left: 41%;"></h1>

                    <div style="width: 413px;height: 226px;background-color: #fff0;position: absolute;left: 40%;top: 28%;">
                        
                        <h1 style="position: absolute;left: -34%;top: -120px;">@Model.Nome_empresa</h1>
                        <h1 style="position: absolute;left: 32%;top: 27px;">Descrição</h1>

                        <div style="position: absolute;width: 643px;height: 200px;border: 1px solid black;top: 104px;right: -28%;overflow: hidden;">@Model.Descricao</div>
                    </div>
                    


                    <div style="position: absolute;left: 50%;margin-top: 103px;">
                        <span style=" color: orange;" class="fa fa-star checked"></span>
                        <span style=" color: orange;" class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                        <!----Botao avaliar-->
                        <button onclick="filtro()" style="background: url('../Content/images/avaliar.png') no-repeat;width: 50px;height:50px;
                     position: absolute;margin-left: 240px;margin-top: -59px;" data-target="#myModal" class="btn btn-info btn-lg" data-toggle="modal"></button>
                       
                         <h1 style="position: absolute;right: 397px;top: 182px;font-size: 22px;width: 345px;">@Model.Endereco - @Model.Bairro, @Model.Cidade / @Model.Uf</h1>
                        <img style="position: absolute;right: 790px;top: 190px;width: 40px;" src="~/Content/images/endereco.png" />

                        <h1 style="position: absolute;right: 600px;top: 270px;font-size: 22px;width: 145px;">@Model.Telefone</h1>
                        <img style="position: absolute;right: 785px;top: 280px;width: 40px;" src="~/Content/images/phone.png" />
                        
                        <h1 style="position: absolute;right: 504px;top: 361px;font-size: 22px;">@Model.Email</h1>
                        <img style="position: absolute;right: 787px;top: 374px;width: 40px;" src="~/Content/images/email1.png" />

                        @*<div>
                            <a>
                                <img style="width:40px;height: 40px;margin-left: -37rem;margin-top: 8rem;" src="~/Content/images/edit.png" />
                            </a>
                           

                        </div>*@
                        <!---Botao Editar-->
                        <button onclick="filtro()"  style="background: url(../../Content/images/edit.png) no-repeat;width: 30px;height: 30px;position: absolute;
                        right: 403px;margin-top: 89px;" data-target="#myModal" class="btn btn-info btn-lg" data-toggle="modal"></button>

                    </div>



                </section>



            </div>
            <div style=" width: 1500px;height: 1471px;background-color: white;position: absolute;left: 195px;top: 83%;
            box-shadow: 1px 13px 20px black;">


                <section>



                   
                        <h2 style="position: absolute;left: 48%;">Arquivo PDF</h2>
                        
                       
                   








                </section>
                <h2 style="margin-top: 194px;margin-left: 128px;" class="w3-center">Galeria de fotos</h2>
              
                
                  <div class="w3-content" style="max-width:1200px">
                   
                    <div class="w3-row-padding w3-section">
                        <div class="w3-col s4">
                            <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/images/image_5.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
                        </div>
                        <div class="w3-col s4">
                            <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/images/image_2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
                        </div>
                        <div class="w3-col s4">
                            <img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/images/image_7.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
                        </div>
                    </div>
                </div>
                
                
                @*<div class="carousel" style="position: relative;top: 15px;left: 5%;">
                    <img src="~/Content/images/about.jpg" alt="Image 1" />
                    <img src="~/Content/images/bg_1.jpg" alt="Image 2" />
                    <img src="~/Content/images/bg_3.jpg" alt="Image 3" />
                    <img src="~/Content/images/photo.png" alt="Image 4" />
                    <img src="~/Content/images/team.jpg" alt="Image 5" />
                </div>*@
                <h2 style="margin-top: 246px;margin-left: 171px;color: black;">Comentários</h2>
                <ul>
                    @foreach (var h in ViewBag.Comentarios)
                    {
                        //LARESSA POR FAVOR ARRUMA ISSO ? ESSA LISTA DE COMENTARIOS TA TODA ZUADA E EU NAO SEI ARRUMAR - OBG 'val :)'

                        <li class="col-12 p-4 mb-5" style="background: white;box-shadow: 0px 0px 9px black;">
                            @*<div style="width: 1275px;height: 400px;top: 69%;left: 8%;overflow: hidden;box-shadow: 1px 1px 9px black;">*@
                                <div class="comentario">
                                    <h3 style="margin-left: 168px;margin-top: 32px;">
                                        @(h.C.Nome)
                                        @(h.C.Nome_empresa)
                                    </h3>
                                    <h5 style="margin-left: 168px;margin-top: 36px;">@(h.Data_avaliacao)</h5>

                                </div>
                                <div style="position: absolute;width: 649px;height: 86px;border: 1px solid black;top: 25px;left: 47%;overflow:hidden;">@(h.Comentario)</div>

                                <div id="icone" style="width: 85px;height: 85px;background-color: #a19c97;border-radius: 70px;margin: 167px auto auto 20px;
                                margin-top: 167px;margin-left: 20px;margin-left: 92px;margin-top: 28px;">

                                </div>

                            @*</div>*@
                        </li>
                    }
                </ul>





</div>


                 

       
         <!-- Modal Avaliar-->
        @if (Session["UserPessoaFisica"] != null && Session["UserPessoaJuridica"] != null)
        {
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="
                            background-color: #0C496BE6;
                            color: white;
                            border-bottom: 3px solid #bbad00; ">

                            <h4 style="margin-left: 241px;" class="modal-title">Nós ajude a melhorar nosso serviço!</h4>
                            <button type="button" class="close" data-dismiss="modal" style="color:white;">×</button>

                        </div>




                        <div class="modal-body">
                            <p>Avalie por :</p>

                            <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                                Entrega
                            </h1>
                            <form style="margin-left: 269px;" class="rating">

                                <label>


                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>

                            </form>

                            <br />

                            <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                                Qualidade
                            </h1>
                            <form style="margin-left: 269px;" class="rating">
                                <label>
                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>

                            </form>

                            <br />

                            <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                                Preço
                            </h1>

                            <form style="margin-left: 269px;" class="rating">
                                <label>
                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>

                            </form>


                            <br />

                            <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                                Satisfação
                            </h1>

                            <form style="margin-left: 269px;" class="rating">
                                <label>
                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>

                            </form>

                            <br />

                            <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                                Atendimento
                            </h1>
                            <form style="margin-left: 269px;" class="rating">
                                <label>
                                    <input type="radio" name="stars" value="1" />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>

                            </form>

                            <br />


                            <form>
                                <h1 style="margin-bottom: -17px;margin-left: 161px;font-size: 23px;">Comentário</h1>
                                <br />
                                <input style="margin-left: 161px;width:463px;height:30px" />

                            </form>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default">Concluir</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                        </div>
                    </div>
                </div>
            </div>
        }
        

       


        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="
                            background-color: #0C496BE6;
                            color: white;
                            border-bottom: 3px solid #bbad00; ">

                        <h4 style="margin-left: 241px;" class="modal-title">Nós ajude a melhorar nosso serviço!</h4>
                        <button type="button" class="close" data-dismiss="modal2" style="color:white;">×</button>

                    </div>




                    <div class="modal-body">
                        <h2>Editar informações</h2>
                        <form action="../Fornecedor/UpdateFornecedor" method="post" class="login100-form validate-form" enctype="multipart/form-data">

                            <!--- Campos do Fornecedor -->
                            <div id="">
                                @*<label for="imagem" style="border: 1px solid; background-color: gainsboro; padding: .5em; font-size: 12px; cursor: pointer;">Imagem de Perfil</label>
                <input type="file" accept="image/*" id="imagem" name="imagem" style="display: none">*@


                                <br /> <br />
                                @*<input type="text" name="confirmaSenha" placeholder="Digite sua senha">*@
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Cnpj" name="cnpj" placeholder="CNPJ">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Nome_empresa" name="nome_empresa" placeholder="Nome da Empresa">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Email" name="email" placeholder="Email">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Cep" name="cep" placeholder="CEP">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Endereco" name="endereco" placeholder="Endereço">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Bairro" name="bairro" placeholder="Bairro">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Cidade" name="cidade" placeholder="Cidade">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Uf" name="uf" placeholder="UF">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Telefone" name="telefone" placeholder="(00) 0000-0000">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Celular" name="celular" placeholder="(00) 00000-0000">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Slogan" name="slogan" placeholder="Digite o seu slogan!">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Descricao" name="descricao" placeholder="Uma breve descrição">
                                <br /> <br />
                                <input class="input" type="text" value="@Model.Nome_categoria" name="nome_categoria" placeholder="categoria">
                                <br /> <br />
                                <input class="button" type="file" name="Imagem" />
                                <br /> <br />

                            </div>

                            <br /> <br />
                            <button style="margin-top: -62px;background: #166083;" class="btn btn-info btn-lg" id="btnAtualizar">Atualizar</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Concluir</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }</script>

