@model SupplierRanking.Models.Fornecedor
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/Layout_logada.cshtml";
}


<div class="wrapper">
    <!-- Sidebar  -->
   
    <!-- Page Content  -->
    <div id="content" style="background: #eefbfa00;">
        
        
        
        <div id="divFiltro" style="width:600px;height:450px;background-color:white;border: 30px;border-color: black;visibility:hidden;position: absolute;
            left: 31%;"></div>
       
        
            <div style="width:1500px;height: 680px;background-color: white;
            top: 13%;position: absolute;left: 195px; box-shadow: 1px 0px 20px black;">
                <section>
                    
                    <div style="width:210px;height:210px;position: absolute;left: 10%;top:26px;">                                          
                        @if (Model.Imagem64 == "")
                        {
                            if (Model.Plano.Equals("P"))
                            {
                                <img src="~/Content/images/iconecor.png" height="210" width="210" style="box-shadow: 0px 0px 9px white; border: 4px dotted white;"/>
                            }
                            else
                            {
                                <img src="~/Content/images/iconecor.png" height="210" width="210" style="box-shadow: 0px 0px 9px black;" />
                            }
                        }
                        else
                        {
                            String imagem64 = string.Format("data:image/jpeg;base64,{0}", Model.Imagem64); //PRECISA DISSO PRA FUNCIONAR A IMAGEM
                            if (Model.Plano.Equals("P"))
                            {
                                <img src="@imagem64" height="210" width="210" style="border-radius: 50%; box-shadow: 0px 0px 9px white; border: 4px dotted white;"/>
                            }
                            else
                            {
                                <img src="@imagem64" height="210" width="210" style="border-radius: 50%; box-shadow: 0px 0px 9px black;"/>
                            }
                        }

                        @if(Model.Pdf64 != "")
                        {
                            <a href="@Model.Pdf64"></a>
                        }
                    </div>
                   
                    <h1 style="position: absolute;left: 41%;"></h1>

                    <div style="width: 413px;height: 226px;background-color: #fff0;position: absolute;left: 40%;top: 28%;">
                        
                        <h1 style="position: absolute;left: -34%;top: -120px;">@Model.Nome_empresa</h1>
                        <h1 style="position: absolute;left: 32%;top: 27px;">Descrição</h1>

                        <div style="position: absolute;width: 643px;height: 200px;border: 1px solid black;top: 104px;right: -28%;overflow: hidden;">@Model.Descricao</div>
                    </div>
                    


                    <div style="position: absolute;left: 50%;margin-top: 103px;">
                        <span  style=" color: orange;" class="fa fa-star checked"></span>
                        <span style=" color: orange;" class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                        <!----Botao avaliar-->
                       @if (Session["UserPessoaFisica"] != null && Session["UserPessoaJuridica"] != null)
                       {

                         <button  style="background: url('../../Content/images/avaliar.png') no-repeat;width: 50px;height:50px;
                     position: absolute;margin-left: 240px;margin-top: -59px;" id="#myModal2" class="btn btn-info btn-lg" ></button>


                       }
                         <h1 style="position: absolute;right: 397px;top: 182px;font-size: 22px;width: 345px;">@Model.Endereco - @Model.Bairro, @Model.Cidade / @Model.Uf</h1>
                        <img style="position: absolute;right: 790px;top: 190px;width: 40px;" src="~/Content/images/endereco.png" />

                        <h1 style="position: absolute;right: 600px;top: 270px;font-size: 22px;width: 151px;">@Model.Telefone</h1>
                        <img style="position: absolute;right: 785px;top: 280px;width: 40px;" src="~/Content/images/phone.png" />
                        
                        <h1 style="position: absolute;right: 504px;top: 361px;font-size: 22px;">@Model.Email</h1>
                        <img style="position: absolute;right: 787px;top: 374px;width: 40px;" src="~/Content/images/email1.png" />

                    @*@if (Session["UserFornecedor"].ToString() == Model.Cnpj)
                    {*@
                      
                        <div>

                          
                           <a @*href="/Comprador/UpdatePessoaFisica"*@>
                               <img style="width:40px;height: 40px;margin-left: -37rem;margin-top: 8rem;" src="~/Content/images/edit.png" />
                             </a>
                        </div>
                    @*}*@

                    </div>

                </section>
            </div>
            <div style=" width: 1500px;height: 1471px;background-color: white;position: absolute;left: 195px;top: 83%;
            box-shadow: 1px 13px 20px black;">

                <section>

                        <h2 style="position: absolute;left: 39%;">Arquivo PDF</h2>
                    @*@Model.Pdf*@
                        
                </section>
                <h2 style="margin-top: 194px;margin-left: -120px;" class="w3-center">Galeria de fotos</h2>
              
                
                  <div class="w3-content" style="max-width:1200px">
                   
                    <div class="w3-row-padding w3-section">
                        <div class="w3-col s4">
                            @*<img class="demo w3-opacity w3-hover-opacity-off" src="~/Content/images/image_5.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">*@
                            
                        </div>
                       
                    </div>
                </div>
                
                
               @if (ViewBag.GaleriaFotos != null)
               {
                int cont = 0;
                   foreach (var f in ViewBag.GaleriaFotos)
                   {

                        <div class="carousel" style="position: relative;top: 15px;left: 5%;">
                        <img src="@(f[cont])" alt="Image 1" />
                        </div>
                       cont++;
                   }
               }

                <h2 style="margin-top: 246px;margin-left: 171px;color: black;">Comentários</h2>
                <ul>
                    @if (ViewBag.Comentarios != null)
                    {
                        foreach (var h in ViewBag.Comentarios)
                        {
                            //LARESSA POR FAVOR ARRUMA ISSO ? ESSA LISTA DE COMENTARIOS TA TODA ZUADA E EU NAO SEI ARRUMAR - OBG 'val if'

                        <li class="col-12 p-4 mb-5" style="background: white;box-shadow: 0px 0px 9px black;">
                            @*<div style="width: 1275px;height: 400px;top: 69%;left: 8%;overflow: hidden;box-shadow: 1px 1px 9px black;">*@
                                <div class="comentario">
                                    <h3 style="margin-left: 168px;margin-top: 32px;">
                                        @(h.C.Nome)
                                        @(h.C.Nome_empresa)
                                    </h3>
                                    <h5 style="margin-left: 168px;margin-top: 36px;">@(h.Data_avaliacao)</h5>

                                </div>
                                <div style="position: absolute;width: 649px;height: 86px;border: 1px solid black;top: 25px;left: 47%;overflow:hidden;">@(h.Comentario)</div>

                                <div id="icone" style="width: 85px;height: 85px;background-color: #a19c97;border-radius: 70px;margin: 167px auto auto 20px;
                                margin-top: 167px;margin-left: 20px;margin-left: 92px;margin-top: 28px;">

                                </div>

                            @*</div>*@
                        </li>
                        }
                    }
                </ul>





</div>


                 

       
         <!-- Modal Avaliar-->
        @if (Session["UserPessoaFisica"] != null && Session["UserPessoaJuridica"] != null)
        {
            <div id="myModal2" class="modal">

                <!-- Modal content -->
                <div style="width: 835px;height: 600px;" class="modal-content">
                    <span class="close-avaliacao">&times;</span>

                    <h3>Entrega</h3>
                    <h3>Qualidade</h3>
                    <h3>Atendimento</h3>
                    <h3>Preço</h3>
                    <h3>Satisfação</h3>

                    <form method="post" action="../Avaliacao/CadastrarAvaliacao" class="rating">

                        <div style="position: relative;top: -27.5rem;left: 21%;">

                            <label>
                                <input type="radio" name="entrega" value="1" />
                                <span class="icon">★</span>
                            </label>

                            <label>
                                <input type="radio" name="entrega" value="2" />
                                <span class="icon">★★</span>
                            </label>

                            <label>
                                <input type="radio" name="entrega" value="3" />
                                <span class="icon">★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="entrega" value="4" />
                                <span class="icon">★★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="entrega" value="5" />
                                <span class="icon">★★★★★</span>
                            </label>


                        </div>



                        <div style="position:relative;top: -27.8rem;left: 21%;">


                            <label>
                                <input type="radio" name="qualidade" value="1" />
                                <span class="icon">★</span>
                            </label>

                            <label>
                                <input type="radio" name="qualidade" value="2" />
                                <span class="icon">★★</span>
                            </label>

                            <label>
                                <input type="radio" name="qualidade" value="3" />
                                <span class="icon">★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="qualidade" value="4" />
                                <span class="icon">★★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="qualidade" value="5" />
                                <span class="icon">★★★★★</span>
                            </label>


                        </div>




                        <div style="position: relative;top: -28.8rem;left: 21%;">

                            <label>
                                <input type="radio" name="atendimento" value="1" />
                                <span class="icon">★</span>
                            </label>

                            <label>
                                <input type="radio" name="atendimento" value="2" />
                                <span class="icon">★★</span>
                            </label>

                            <label>
                                <input type="radio" name="atendimento" value="3" />
                                <span class="icon">★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="atendimento" value="4" />
                                <span class="icon">★★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="atendimento" value="5" />
                                <span class="icon">★★★★★</span>
                            </label>


                        </div>




                        <div style="position: relative;top: -29.8rem;left: 21%;">

                            <label>
                                <input type="radio" name="preco" value="1" />
                                <span class="icon">★</span>
                            </label>

                            <label>
                                <input type="radio" name="preco" value="2" />
                                <span class="icon">★★</span>
                            </label>

                            <label>
                                <input type="radio" name="preco" value="3" />
                                <span class="icon">★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="preco" value="4" />
                                <span class="icon">★★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="preco" value="5" />
                                <span class="icon">★★★★★</span>
                            </label>


                        </div>




                        <div style="position: relative;top: -29.8rem;left: 21%;">

                            <label>
                                <input type="radio" name="satisfacao" value="1" />
                                <span class="icon">★</span>
                            </label>

                            <label>
                                <input type="radio" name="satisfacao" value="2" />
                                <span class="icon">★★</span>
                            </label>

                            <label>
                                <input type="radio" name="satisfacao" value="3" />
                                <span class="icon">★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="satisfacao" value="4" />
                                <span class="icon">★★★★</span>
                            </label>


                            <label>
                                <input type="radio" name="satisfacao" value="5" />
                                <span class="icon">★★★★★</span>
                            </label>


                        </div>

                        <div style="position: relative;top: -239px;">
                            <h1 style="margin-bottom: -17px;margin-left: 344px;font-size: 23px;">Comentário</h1>
                            <br />
                            <input name="comentario" style="margin-left: 161px;width:463px;height:30px" />

                            <button type="submit" class="btn btn-info btn-lg ">Salvar</button>
                        </div>

                    </form>



                </div>


            </div>
        }
        

       


        


    </div>
</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }</script>

