@model SupplierRanking.Models.Fornecedor
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}


<!-- INÍCIO - Modal Avaliação -->
<div id="myModal2" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header" 
                 style="background-color: #0C496BE6; color: white; border-bottom: 3px solid #bbad00; ">

                <div class="col-11 p-0 d-flex justify-content-center">
                    <h4 class="modal-title">Avaliação </h4>
                </div>

                <div class="col-1">
                    <button class="close close-avaliacao m-0 p-0" data-dismiss="modal" style="color:white;">×</button>
                </div>

            </div>

        <form method="post" action="/Avaliacao/CadastrarAvaliacao">

                <div class="row modal-body">
                    <!-- Entrega -->
                    <div class="row col-12">

                        <div class="col-6 d-flex align-Models-center justify-content-end pr-5">
                            <h3 class="m-0">Entrega</h3>
                        </div>

                        <div class="col-6 pl-5">
                            <div class="rating d-flex align-Models-center">

                <label>
                                    <input type="radio" name="entrega" value="1" checked/>
                    <span class="icon">★</span>
                </label>

                <label>
                    <input type="radio" name="entrega" value="2" />
                    <span class="icon">★★</span>
                </label>

                <label>
                    <input type="radio" name="entrega" value="3" />
                    <span class="icon">★★★</span>
                </label>


                <label>
                    <input type="radio" name="entrega" value="4" />
                    <span class="icon">★★★★</span>
                </label>


                <label>
                    <input type="radio" name="entrega" value="5" />
                    <span class="icon">★★★★★</span>
                </label>

            </div>
                        </div>
                    </div>

                    <!-- Qualidade -->
                    <div class="row col-12">

                        <div class="col-6 d-flex align-Models-center justify-content-end pr-5">
                            <h3 class="m-0">Qualidade</h3>
                        </div>

                        <div class="col-6 pl-5">
                            <div class="rating d-flex align-Models-center">

                <label>
                                    <input type="radio" name="qualidade" value="1" checked />
                    <span class="icon">★</span>
                </label>

                <label>
                    <input type="radio" name="qualidade" value="2" />
                    <span class="icon">★★</span>
                </label>

                <label>
                    <input type="radio" name="qualidade" value="3" />
                    <span class="icon">★★★</span>
                </label>

                <label>
                    <input type="radio" name="qualidade" value="4" />
                    <span class="icon">★★★★</span>
                </label>

                <label>
                    <input type="radio" name="qualidade" value="5" />
                    <span class="icon">★★★★★</span>
                </label>

            </div>
                        </div>
                    </div>

                    <!-- Preço -->
                    <div class="row col-12">

                        <div class="col-6 d-flex align-Models-center justify-content-end pr-5">
                            <h3 class="m-0">Preço</h3>
                        </div>

                        <div class="col-6 pl-5">
                            <div class="rating d-flex align-Models-center">

                <label>
                                    <input type="radio" name="preco" value="1" checked />
                    <span class="icon">★</span>
                </label>

                <label>
                                    <input type="radio" name="preco" value="2" />
                    <span class="icon">★★</span>
                </label>

                <label>
                                    <input type="radio" name="preco" value="3" />
                    <span class="icon">★★★</span>
                </label>


                <label>
                                    <input type="radio" name="preco" value="4" />
                    <span class="icon">★★★★</span>
                </label>


                <label>
                                    <input type="radio" name="preco" value="5" />
                    <span class="icon">★★★★★</span>
                </label>

                            </div>
                        </div>
                    </div>

                    <!-- Atendimento -->
                    <div class="row col-12">

                        <div class="col-6 d-flex align-Models-center justify-content-end pr-5">
                            <h3 class="m-0">Atendimento</h3>
            </div>

                        <div class="col-6 pl-5">
                            <div class="rating d-flex align-Models-center">

                <label>
                                    <input type="radio" name="atendimento" value="1" checked />
                    <span class="icon">★</span>
                </label>

                <label>
                                    <input type="radio" name="atendimento" value="2" />
                    <span class="icon">★★</span>
                </label>

                <label>
                                    <input type="radio" name="atendimento" value="3" />
                    <span class="icon">★★★</span>
                </label>

                <label>
                                    <input type="radio" name="atendimento" value="4" />
                    <span class="icon">★★★★</span>
                </label>

                <label>
                                    <input type="radio" name="atendimento" value="5" />
                    <span class="icon">★★★★★</span>
                </label>

                            </div>
                        </div>
                    </div>

                    <!-- Satisfação Geral -->
                    <div class="row col-12">

                        <div class="col-6 d-flex align-Models-center justify-content-end pr-5">
                            <h3 class="m-0">Satisfação Geral</h3>
            </div>

                        <div class="col-6 pl-5">
                            <div class="rating d-flex align-Models-center">

                <label>
                                    <input type="radio" name="satisfacao" value="1" checked />
                    <span class="icon">★</span>
                </label>

                <label>
                    <input type="radio" name="satisfacao" value="2" />
                    <span class="icon">★★</span>
                </label>

                <label>
                    <input type="radio" name="satisfacao" value="3" />
                    <span class="icon">★★★</span>
                </label>

                <label>
                    <input type="radio" name="satisfacao" value="4" />
                    <span class="icon">★★★★</span>
                </label>

                <label>
                    <input type="radio" name="satisfacao" value="5" />
                    <span class="icon">★★★★★</span>
                </label>

            </div>
                        </div>
                    </div>

                    <!-- Comentário -->
                    <div class="row col-12 mt-4 mb-5">
                        <h3>Comentário</h3>

                        <textarea name="comentario"></textarea>
                        <input id="cnpj" name="cnpj_fornecedor" value="@Model.Cnpj" style="font-size: 10px;" hidden />
                    </div>
            </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" style="width: 150px; height: 40px; background: #0C496Bc9; color: #fff;">Salvar</button>
                </div>
        </form>
        </div>
    </div>
</div>
<!-- FIM - Modal Avaliação -->


<!-- INÍCIO - Tela de Perfil -->
<div class="row col-12 conteudo-perfil col-12 m-5 p-5">

    <!-- Imagem Premium -->
    <div style="position:absolute; margin-left:54rem; margin-top:-3rem;">
        @if (Model.Plano.Equals("P"))
            {
            <img src="~/Content/images/premium2.png" height="200" width="160" />
        }
    </div>

    <section class="row col-12 mt-5 pt-5 m-0 p-0">
        <div class="row col-12 mb-5 pb-5">

            <!-- Imagem de Perfil -->
            <div class=" col-4 d-flex justify-content-end">
                @if (Model.Imagem64 == "")
                {
                    if (Model.Plano.Equals("P"))
                    {
                        <img class="mr-5" style="border-radius: 50%;border: 4px solid #d0a748; box-shadow: 0px 0px 29px black;"
                             src="~/Content/images/iconecor.png" height="210" width="210" />
                    }
                    else
                    {
                        <img class="mr-5" style="border-radius: 50%;border: 4px solid #d0a748; box-shadow: 0px 0px 29px black;"
                             src="~/Content/images/iconecor.png" height="210" width="210" />
                    }
                }

                else
                {
                    String imagem64 = string.Format("data:image/jpeg;base64,{0}", Model.Imagem64); //PRECISA DISSO PRA FUNCIONAR A IMAGEM
                    if (Model.Plano.Equals("P"))
                    {
                        <img class="mr-5" style="border-radius: 50%; border: 4px solid #d0a748; box-shadow: 0px 0px 29px black;"
                             src="@imagem64" height="210" width="210" />
                    }
                    else
                    {
                        <img class="mr-5" style="border-radius: 50%; border: 4px solid #d0a748; box-shadow: 0px 0px 29px black;"
                             src="@imagem64" height="210" width="210" />
                    }
                }
            </div>

            <div class="col-8">

                <!-- Nome da Empresa -->
                <div class="row col-12 justify-content-start">
                    <h1 class="ml-5 pl-5" style="font-size:50px;">@Model.Nome_empresa</h1>
                </div>

                <div class="row">

                    <!-- Media Geral -->
                    <div class="col-3 mt-5">

                        <div class="row col-12 d-flex justify-content-center">
                            <h1 class="m-0 ml-2" style="font-family:inherit; color:#ffb31a; text-shadow:0px 0px 5px black;">
                                @Model.Media
                            </h1>
                        </div>

                        <div class="row col-12 d-flex justify-content-center">
                            @if (Model.Media <= 1)
                            {
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }

                            else if (Model.Media > 1 && Model.Media <= 2)
                            {
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star "></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }

                            else if (Model.Media > 2 && Model.Media <= 3)
                            {
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            }

                            else if (Model.Media > 3 && Model.Media <= 4)
                            {
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star"></span>
                            }

                            else if (Model.Media > 4 && Model.Media <= 5)
                            {
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                                <span class="fa fa-star" style="color:#ffb31a; text-shadow:0px 0px 5px black;"></span>
                            }
                        </div>

                    </div>

                    <!-- Medias das Avaliações -->
                    @if (Model.Plano.Equals("P"))
                    {
                        <div class="col-6 d-flex align-items-center mt-4">

                            <div class="d-flex align-items-center mr-5" style="flex-direction: column;">
                                <img src="/Content/images/velocidade-entrega.png" height="40" width="40" alt="Velocidade de Entrega"
                                     style="background-color:  transparent; border-radius:50%" />
                                <h3 class="m-0">@Model.Media_entrega</h3>
                            </div>

                            <div class="d-flex align-items-center mr-5" style="flex-direction: column;">
                                <img src="/Content/images/qualidade-produto.png" height="40" width="40" alt="Qualidade do Produto"
                                     style="background-color:  transparent; border-radius:50%" />
                                <h3 class="m-0">@Model.Media_qualidade</h3>
                            </div>

                            <div class="d-flex align-items-center mr-5" style="flex-direction: column;">
                                <img src="/Content/images/preco.png" height="40" width="40" alt="Preço"
                                     style="background-color:  transparent; border-radius:50%" />
                                <h3 class="m-0">@Model.Media_preco</h3>
                            </div>

                            <div class="d-flex align-items-center mr-5" style="flex-direction: column;">
                                <img src="/Content/images/atendimento.png" height="40" width="40" alt="Atendimento"
                                     style="background-color:  transparent; border-radius:50%" />
                                <h3 class="m-0">@Model.Media_atendimento</h3>
                            </div>

                            <div class="d-flex align-items-center mr-5" style="flex-direction: column;">
                                <img src="/Content/images/satisfacao.png" height="40" width="40" alt="Satisfação Geral"
                                     style="background-color:  transparent; border-radius:50%" />
                                <h3 class="m-0">@Model.Media_satisfacao</h3>
                            </div>
                        </div>
                    }

                    <!-- Botão Avaliar -->
                    @if (Session["UserPessoaFisica"] != null || Session["UserPessoaJuridica"] != null)
                    {
                        <div class="col-3 d-flex align-items-center" style="flex-direction: column;">
                            <h3 class="m-0 mb-4">Avalie</h3>
                            <img src="/Content/images/avaliacao-premium.png" height="60" width="60" id="@Model.Cnpj" onclick="linkaCaixaContexto(this.id)" />
                        </div>
                    }

                </div>

            </div>
        </div>

        <!-- End / email / tel -->
        <div class="row col-12 mt-5 pt-5">
            <!-- Endereço -->
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img style="width: 40px;" src="~/Content/images/mapa.png" />
                <h2 class="m-0 ml-5">@Model.Endereco - @Model.Bairro, @Model.Cidade / @Model.Uf</h2>
            </div>

            <div class="row col-12 mt-5">
                <!-- Telefones -->
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <div class="col-7 d-flex justify-content-end align-items-center mr-3" style="height:100%;">
                        <img style="width: 40px;" src="~/Content/images/phone.png" />
                    </div>
                    <div class="col-5 d-flex justify-content-center" style="flex-direction:column;">
                        <h2>@Model.Telefone</h2>
                        <h2>@Model.Celular</h2>
                    </div>
                </div>

                <!-- Email -->
                <div class="col-6 d-flex justify-content-center align-items-center">
                    <img style="width: 40px;" src="~/Content/images/email.png" />
                    <h2 class="m-0 ml-5">@Model.Email</h2>
                </div>
            </div>
        </div>

        <!-- Descrição -->
        <div class="row col-12 d-flex justify-content-center align-items-center mt-5 pt-5">
            <div class="row col-12">
                <h1 class="mb-4"><strong>Descrição</strong></h1>
            </div>

            <div class="row col-8 d-flex justify-content-center">
                <h3>@Model.Descricao</h3>
            </div>
        </div>

        <!-- PDF -->
        @if (Model.Pdf64 != "")
        {
            <div class="row col-12 d-flex justify-content-center align-items-center mt-5 pt-5" style="flex-direction:column;">
                <h3>Faça o download do PDF</h3>

                <a href="/HomeLogada/Pdf/?Id=@Model.Cnpj" target="_blank">
                    <img src="~/Content/images/add-pdf.png" style="height:60px;width:60px" />
                </a>
            </div>
        }

        <!-- Galeria de Fotos -->
        <div class="row col-12 mb-5">
            <div class="row col-12 mt-5 pt-5">
                <h1 class="w3-center"><strong>Galeria de Fotos</strong></h1>
            </div>

            @if (ViewBag.ListaFotos.Count != 0)
            {
                <div class="row">
                    @foreach (var f in ViewBag.ListaFotos)
                    {
                        String foto64 = string.Format("data:image/jpeg;base64,{0}", f);
                        <img style="width:400px; height: 300px;" src="@foto64" alt="Image1" />
                    }
                </div>
            }
            else
            {
                <div class="row">
                    <h4 style="color:black;" class="mt-5">Este perfil não possui fotos.</h4>
                </div>
            }
        </div>

        <!-- Comentários -->
        <div class="row col-12 mt-5 pt-5">
            <div class="row col-12 justify-content-center align-items-center mb-5 pb-5">
                <h1><strong>Comentários</strong></h1>
            </div>

            <div class="row col-12 d-flex justify-content-center align-items-center">
                @if (ViewBag.Comentarios.Count != 0)
                {
                    <ul>
                        @foreach (var h in ViewBag.Comentarios)
                        {
                            <li class="col-12 p-4 mb-5" style="list-style: none;background: #ffffff;box-shadow: 1px 1px 10px black;height: 169px; border-radius: 5px; width: 1170px;">
                                @*<div style="width: 1275px;height: 400px;top: 69%;left: 8%;overflow: hidden;box-shadow: 1px 1px 9px black;">*@
                                <div class="comentario" style="width: 1312px;height: 134px;position: absolute;border: 2px #d0a748;
                                 top: 10%;left: 5%;">
                                    <h3 style="margin-left: 168px;margin-top: 32px;">
                                        @(h.C.Nome)
                                        @(h.C.Nome_empresa)
                                    </h3>
                                    <h5 style="margin-left: 168px;margin-top: 36px;">@(h.Data_avaliacao)</h5>

                                </div>
                                <div style="position: absolute;border-radius: 6px;width: 649px;height: 86px;border: 1px solid black;top: 38px;left: 40%;overflow: hidden;background-color: #e6e6e6;box-shadow: 1px 1px 5px;font-size: 25px;padding: 8px;">@(h.Comentario)</div>

                                <img src="~/Content/images/user.png" id="icone" style="width: 85px;height: 85px;background-color: #a19c97;border-radius: 70px;margin: 167px auto auto 20px;
                                margin-top: 167px;margin-left: 20px;margin-left: 92px;margin-top: 28px;" />

                                @*</div>*@
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h4 style="position: absolute;left: 39%; color:black;">Ainda não possui comentários e/ou avaliações.</h4>
                }
            </div>
        </div>
            


</section>

        </div>
<!-- FIM - Tela de Perfil -->

    <script>

        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

    </script>

