@model List<SupplierRanking.Models.Fornecedor>

@{
    ViewBag.Title = "RankingGeral";
    Layout = "~/Views/Shared/Layout_logada.cshtml";
}

<div class="m-5">
    
   
    <div class="row justify-content-center text-center mt-4" >
        <h2 style="color: #D0A748;font-weight: bold; text-shadow: 1px 2px 0px #6c6c6c;margin-bottom: 8rem;margin-top: 4rem;">
            Esses são nossos Destaques da Semana!
        </h2>
    </div>

    <div class="row" style="width: 1705px;">
        <ul class="row list-unstyled m-3">
            @foreach (var item in Model)
            {  
                 if (item.Plano.Equals("P"))
                 {
                    <li class="col-12 p-4 mb-5" style="background: white;box-shadow: 0px 0px 9px black;background: #2c8cb6;
                         box-shadow: 0px 0px 23px black;color: white;border: solid 1px #00000045;">
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center mr-5" style="padding-left: 4rem;">

                                <div class="pr-5">
                                    <h2>@(Model.IndexOf(item) + 1)º </h2>
                                </div>

                                @*<div class="col-10">*@
                                @if (item.Imagem64 == "")
                                {
                                    <a href="/HomeLogada/Perfil/?Cnpj=@item.Cnpj">
                                        <img src="/Content/images/iconecor.png" height="100" width="100" style="border-radius: 50%;"/>
                                    </a>
                                }
                                else
                                {
                                    String imagem64 = string.Format("data:image/jpeg;base64,{0}", item.Imagem64); //PRECISA DISSO PRA FUNCIONAR A IMAGEM
                                    <a href="/HomeLogada/Perfil/?Cnpj=@item.Cnpj">
                                        <img src="@imagem64" height="100" width="100" style="border-radius: 50%;" />
                                    </a>
                                }
                                        @*</div>*@
</div>
                            <div class="col-5">
                                <div class="d-flex align-items-baseline pl-3">
                                    <h4>
                                        @item.Media
                                    </h4>
                                    <div class="d-flex col-10 justify-content-around pl-5">
                                        <div>
                                            <img />
                                            @item.Media_qualidade
                                        </div>

                                        <div>
                                            <img />
                                            @item.Media_atendimento
                                        </div>

                                        <div>
                                            <img />
                                            @item.Media_entrega
                                        </div>

                                        <div>
                                            <img />
                                            @item.Media_preco
                                        </div>

                                        <div>
                                            <img />
                                            @item.Media_satisfacao
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h2 style="font-weight: bold;">
                                        @item.Nome_empresa
                                    </h2>
                                </div>
                                <div>
                                    @item.Nome_categoria
                                </div>
                            </div>
                            <div class="col-4 d-flex justify-content-between mr-5" style="flex-direction:column; border-left: 2px solid;padding-left: 5rem;">
                              
                               <h3>"@item.Slogan"</h3>
                                <p style="color: white;">
                                    @item.Endereco, @item.Bairro - @item.Cidade / @item.Uf
                                </p>
                            </div>
                            <div class="col-1 d-flex flex-wrap justify-content-center align-items-center">
                                <button data-target="#myModal" class="btn btn-info btn-lg" data-toggle="modal">Avaliar</button>

                                @*@Html.ActionLink("Perfil", "Perfil", new { item.Cnpj })*@
                                <a style="text-decoration: none;color: white;" id="" href="/HomeLogada/Perfil/?Cnpj=@item.Cnpj">Perfil</a>
                            </div>
                        </div>
                       
                    </li>

                }
                else
                {
                    <li class="col-12 p-4 mb-5" style="background: white;box-shadow: 0px 0px 9px black;">
                        <div class="row">
                            <div class="d-flex justify-content-center align-items-center mr-5" style="padding-left: 4rem;">

                                <div class="pr-5">
                                    <h2>@(Model.IndexOf(item) + 1)º </h2>
                                </div>

                                @*<div class="col-10">*@
                                @if (item.Imagem64 == "")
                                {
                                    <a href="/HomeLogada/Perfil/?Cnpj=@item.Cnpj">
                                        <img src="~/Content/images/iconecor.png" height="100" width="100" style="border-radius: 50%;" />
                                    </a>
                                }
                                else
                                {
                                    String imagem64 = string.Format("data:image/jpeg;base64,{0}", item.Imagem64); //PRECISA DISSO PRA FUNCIONAR A IMAGEM
                                    <a href="/HomeLogada/Perfil/?Cnpj=@item.Cnpj">
                                        <img src="@imagem64" height="100" width="100" style="border-radius: 50%;" />
                                    </a>
                                }
                                @*</div>*@
                            </div>
                            <div class="col-5">
                                <div class="d-flex align-items-baseline pl-3">
                                    <h4 style="font-weight: bold;">
                                        @item.Media
                                    </h4>  
                                </div>
                                <div>
                                    <h2>
                                        @item.Nome_empresa
                                    </h2>
                                </div>
                                <div>
                                    @item.Nome_categoria
                                </div>
                                
                            </div>
                            <div class="col-4 d-flex justify-content-between mr-5" style="flex-direction:column; border-left: 2px solid;padding-left: 5rem;">

                                <h3>"@item.Slogan"</h3>
                                <p>
                                    @item.Endereco, @item.Bairro - @item.Cidade / @item.Uf
                                </p>
                            </div>
                            <div class="col-1 d-flex flex-wrap justify-content-center align-items-center">
                                <button data-target="#myModal" class="btn btn-info btn-lg" data-toggle="modal">Avaliar</button>

                                @*@Html.ActionLink("Perfil", "Perfil", new { item.Cnpj })*@
                                <a style="text-decoration: none;color: #2c8cb6;" id="" href="/HomeLogada/Perfil/?Cnpj=@item.Cnpj">Perfil</a>
                            </div>
                        </div>
                        
                    </li>
                }

            }
        </ul>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="
                            background-color: #0C496BE6;
                            color: white;
                            border-bottom: 3px solid #bbad00; ">

                        <h4 style="margin-left: 241px;" class="modal-title">Nós ajude a melhorar nosso serviço!</h4>
                        <button type="button" class="close" data-dismiss="modal" style="color:white;">×</button>

                    </div>
                    <div class="modal-body">
                        <p>Avalie por :</p>

                        <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                            Entrega
                        </h1>
                        <form style="margin-left: 269px;" class="rating">

                            <label>


                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>

                        <br />

                        <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                            Qualidade
                        </h1>
                        <form style="margin-left: 269px;" class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>

                        <br />

                        <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                            Preço
                        </h1>

                        <form style="margin-left: 269px;" class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>


                        <br />

                        <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                            Satisfação
                        </h1>

                        <form style="margin-left: 269px;" class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>

                        <br />

                        <h1 style="font-size: 23px;margin-left: 134px;margin-bottom: -36px;">
                            Atendimento
                        </h1>
                        <form style="margin-left: 269px;" class="rating">
                            <label>
                                <input type="radio" name="stars" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>

                        </form>

                        <br />


                        <form>
                            <h1 style="margin-bottom: -17px;margin-left: 161px;font-size: 23px;">Comentário</h1>
                            <br />
                            <input style="margin-left: 161px;width:463px;height:30px" />

                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Concluir</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
