@model SupplierRanking.Models.Comprador
@{
    ViewBag.Title = "UpdatePessoaFisica";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<section style=" width: 2000px;height: 104px;background: #0C496BE6;position: absolute;top: 0px;left:0px;">
</section>
    <div class="container-login100" style="width: 946px;height: 634px;background: #fff;position: absolute;left:435px;margin-top: 172px; box-shadow: 1px 1px 27px;">

        <div class="wrap-login100" style="background-color: white;position: absolute;left: 41%;">

            <h2 style="margin-left: -45px;margin-bottom: 41px;">
                Editar informações
            </h2>

            <form action="/Comprador/UpdatePessoaFisica" method="post" class="login100-form validate-form">
                <p>@ViewBag.Message</p>
                <!--- Campos do Comprador Fisico -->
                <div>
                    <input class="input" type="text" value="@Model.Codigo" name="codigo" readonly="readonly" style="visibility:hidden">
                    <a name="codigo" style="margin-left:-110px;">@Model.Codigo</a>
                    <br /> <br />
                    <input class="input" type="text" value="@Model.Cpf" name="cpf" readonly="readonly" style="visibility:hidden">
                    <a name="cpf" style="margin-left:-160px;">CPF: @Model.Cpf</a>
                    <br /> <br />
                    <input class="input" type="text" value="@Model.Nome" name="nome">
                    <br /> <br />
                    <input class="input" type="text" value="@Model.Sobrenome" name="sobrenome">
                    <br /> <br />
                    <input class="input" type="text" value="@Model.Email" name="email">
                    <br /> <br />
                    <input class="input" type="text" value="@Model.Uf" name="uf">
                    <br /> <br />
                    <input class="input" type="text" value="@Model.Telefone" name="telefone" placeholder="(00) 0000-0000">
                    <br /> <br />
                    <input class="input" type="text" value="@Model.Celular" name="celular" placeholder="(00) 00000-0000">
                    <br /> <br />
                </div>

                <br /> <br />
                <button type="submit" style="margin-left:27px;background: #166083;" class="btn btn-info btn-lg" id="btnAtualizar">Atualizar</button>
            </form>
        </div>
    </div>

