@model SupplierRanking.Models.Comprador
@{
    ViewBag.Title = "UpdatePessoaFisica";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container-login100">

    <div class="wrap-login100" style="background-color: white;">

        <h2>UpdatePessoaFisica</h2>

        <form action="../Comprador/UpdatePessoaFisica" method="post" class="login100-form validate-form">
            <p>@ViewBag.Message</p>
            <!--- Campos do Comprador Fisico -->
            <div>
                <input type="text" value="@Model.Codigo" name="codigo" readonly="readonly" style="background-color: gray">
                <input type="text" value="@Model.Cpf" name="cpf" readonly="readonly">
                <input type="text" value="@Model.Nome" name="nome">
                <input type="text" value="@Model.Sobrenome" name="sobrenome">
                <input type="text" value="@Model.Email"name="email">
                <br /> <br />
                <input type="text" value="@Model.Uf" name="uf">
                <br /> <br />
                <input type="text" value="@Model.Telefone"name="telefone" placeholder="(00) 0000-0000">
                <input type="text" value="@Model.Celular" name="celular" placeholder="(00) 00000-0000">
                <br /> <br />
            </div>

            <br /> <br />
            <button id="btnSalvar">Salvar</button>
        </form>
    </div>
</div>

